<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Enrollment_System_NEW.Properties.Settings.enrollment_dbConnectionString"
            connectionString="Data Source=CRUIZWELL-C\SQLEXPRESS;Initial Catalog=enrollment_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Enrollment_System_NEW.Properties.Settings.enrollment_dbConnectionString1"
            connectionString="Data Source=UNABIA\SQLEXPRESS;Initial Catalog=enrollment_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>